*{
    margin: 0px;
    padding: 0px;
    /* border-style: dotted;
    border-color: black;
    border-width: 0.5px; */
    /* font-family: 'Amatic SC', cursive; */
}
header{
    height:100px;
}
.weather{
    min-height: 100px;
}
.book{
    padding: 10px;
}
.container{
    font-family: 'Quicksand', sans-serif;
}
.wrapper{
    padding-top: 150px;
    padding-bottom: 50px;
}
.window{
    margin-bottom: 100px;
}
.pre_rev, .reviews{
    padding-top: 100px;
}
.prev_revs{
    align: left;
}