*{
    margin: 0px;
    padding: 0px;
    /* border-style: dotted;
    border-color: black;
    border-width: 0.5px; */
    /* font-family: 'Amatic SC', cursive; */
}
header{
    height:100px;
}
.weather{
    min-height: 100px;
}
.book{
    padding: 10px;
}
.container{
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 50px;
}
.wrapper{
    
    padding-bottom: 50px;
}
.window{
    margin-bottom: 100px;
    vertical-align: top;
    padding-top:25px;
}
.pre_rev, .reviews{
    padding-top: 100px;
    text-align: left;
}
/* .prev_revs{
    align: left;
} */
.wrapper_reso{
    padding:150px;
}
h1{
    font-family: 'Amatic SC', cursive;
    color: lightslategray;
}
.line_reso{
    border: 1px solid gray;
    padding: 2px;
    width: 860px;
    margin-top: 20px;
    margin-bottom: 20px;
}
span{
    font-weight: bold;
    color: orangered;
}
.tab-pane{
    padding:10px;
}
.btn{
    margin-top: 10px;
}
.camp_img{
    margin-bottom: 50px;
}
