*{
    margin: 0px;
    padding: 0px;
    /* border-style: dotted;
    border-color: black;
    border-width: 0.5px; */
    /* font-family: 'Amatic SC', cursive; */
    
}
h3{
    font-family: 'Amatic SC', cursive;
}

h1{
    margin-bottom: 2.5em;
}

label{
    display: block;
    text-align: left;
}
form p{
    text-align: left;
}
.campsites{
    text-align: center;
}

.campsites p{
    text-align: left;
    width: 400px;
}

.wrapper{
    padding-top: 40px;
    margin: auto;
}

.container{
    font-family: 'Quicksand', sans-serif;
}

tr{
    margin-top: 20px;
}
.btn{
    margin-top: 10px;
}

table{
    text-align: center;
}
td{
    text-align: left;
}
table{
    margin: auto;
}