*{
    margin: 0px;
    padding: 0px;
    /* border-style: dotted;
    border-color: black;
    border-width: 0.5px; */
    /* font-family: 'Amatic SC', cursive; */
    
}
h1{
    font-family: 'Amatic SC', cursive;
}

label{
    display: block;
    text-align: left;
}
form p{
    text-align: left;
}
.campsites p{
    text-align: left;
}

.wrapper{
    padding-top: 50px;
    margin: 0px;
}

.container{
    font-family: 'Quicksand', sans-serif;
}

tr{
    margin-top: 20px;
}
.btn{
    margin-top: 10px;
}

form{
    align: center;
}