<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CampTown | Profile</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Archivo+Black|Open+Sans:300|Questrial|Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'campsite/css/profile.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    {% include "campsite/header.html" %}
     {% block content %}
    <div class="container col-12" align='center'>
        <div class="wrapper col-10" align='center'>
            <div class='user'>
                <img src="https://farm6.staticflickr.com/5516/14549322414_74b3a76a63.jpg" alt="..." class="d-inline-block col-3">
                <div class='d-inline-block col-8'><h3 class=''>{{ current_user.first_name }} {{ current_user.last_name }} (member since: {{current_user.created_at.date}}) {{ member.created_at }}</h3>
                    <a href='/search' class='btn btn-info col-6'>CREATE A TRIP</a>
                </div>
            </div>       

            <h3>Upcoming Trips</h3>
            <table class="table table-borderless col-11">
                <thead>
                    <tr>
                    <th scope="col">Campground</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if current_user.reservations.first %}
                    {% for reso in current_user.reservations.all %}
                    <tr>
                        <td><a href='/reservation/{{reso.campground.park_id}}/{{reso.contract_Code}}'>{{reso.campground.name}}</a></td>
                        <td>{{reso.start_date}}</td>
                        <td>{{reso.end_date}}</td>
                        <td><a href='/edit/{{ reso.id }}'>Edit</a> | <a href='/cancel/{{ reso.id }}'>Cancel</a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
             </table>

             <!-- <h3>Previous Trips</h3>
            <table class="table table-borderless col-11">
                <thead>
                    <tr>
                    <th scope="col">Campground</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if now > reservation.end_date %}
                        {% for res in reservation %}
                    <tr>
                        <td><a href='/reservation/{{park_Id}}/{{contract_Code}}'>{{campground.name}}</a></td>
                        <td>{{reservation.start_date}}</td>
                        <td>{{reservation.end_date}}</td>
                        <td><a href='/edit/{{ reservation.id }}'>Review</a></td>
                    </tr>
                        {% endfor %}
                    {% endif %} -->
                </tbody>
            </table>
<!-- if user has not left a review -->
                            <!-- <td>
                                <textarea class='form form-control'></textarea>
                                <button type='submit' class='btn btn-info'>Submit</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                <p><a href=''>Lake Chabot</a></p>
                                <p>8/18-8/20</p>
                                <a href='/book/{{ trip.id }}'>Book again</a>
                            </td> -->

<!-- if user has left a review -->
                            <!-- <td>
                                <h6>★★★★★</h6>
                                <p>THis campsite was great!!</p>
                            </td>
                        </tr> -->
<!-- END EXAMPLE -->



<!-- THIS IS THE LOOP -->
                        <!-- {% for trip in locations %}
                        <tr>
                            <th scope="row">{{ trip.id</th>
                            <td>
                                <p>{{ trip.site }}</p>
                                <p>{{ trip.start }}-{{ trip.end }}</p>
                                <a href='/book/{{ trip.id }}'>Book again</a>
                            </td> -->
    
<!-- Condition: if user has review/notreviewed-->
                            <!-- {% if review in user.reviews %}
                            <td>
                                <h6>★★★★★</h6>
                                <p>This campsite was great!!</p>
                            </td>
                            {% else %}
                            <td>
                                <textarea class='form form-control'></textarea>
                                <button type='submit' class='btn btn-info'>Submit</button>
                            </td>
                            {% endif %}
                        </tr>

                        
                        {% endfor %} -->

        </div>
    </div>
    {% endblock %}
</body>
</html>